{% extends './layout.html' %}
{% block title %}Login & Reg | Success{% endblock %}

{% block body %}
        {% include 'nav.html' %}
        <div class="row">
            <h1>Success!  Welcome, {{ first_name }}</h1>
        </div>
        <div class="row">
            <p class="green">Successfully registered {% if request.session.logged_in == request.session.user_id %}(or logged in){% endif %}!</p>
        </div>
        {% for user in users %}
        <div class="row">
            <div class="col-3">Your Name:</div> <div class="col-9">{{ first_name }} {{ last_name }}</div>
        <!-- </div>
        <div class="row"> -->
            <div class="col-3">Email:</div> <div class="col-9">{{ email }}</div>
        <!-- </div>
        <div class="row"> -->
            <div class="col-3">Permission level:</div> <div class="col-9">{{ permission_level }}</div>
        </div>
        {% endfor %}
        {# if request.session.logged_in == True #}
        <div class="row">
            <a class="btn btn-primary" href="{% url 'users:logout' %}" role="button">Clear session</a>
        </div>
        {# endif #}
{% endblock %}