{% extends './layout.html' %}
{% block title %}Users Index{% endblock %}

{% block body %}
        {% include 'nav.html' %}
        <div class="row">
            <h1>Login Registration Dashboard</h1>
        </div>
        {# if request.session.logged_in != False #}
        <div class="row">
            <h1>Welcome {{ request.session.first_name }} {{ request.session.last_name }}</h1>
            <p>You are already signed in.</p>
            <a class="btn btn-primary" href="{% url 'users:reset' %}" role="button">Sign out</a>
        </div>
        {# endif #}
{% endblock %}